* {
    margin: 0px;
    padding: 0px;
    /* background-color: cornsilk; */
}

#container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vw 1fr 10vw;
    grid-template-areas: 
    "hd"
    "mn"
    "ft"
    ;
}

#head {
    grid-area: hd;
    background-color: dimgrey;
}

#app__cont {
    grid-area: mn;
    background-color: rgb(22, 27, 27);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#add__items{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    justify-content: center;
}

#error{
    flex: 1;
}

#list{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list__cont {
    width: 90vw;
    height: 40vh;
    border: 1px solid #fff;
}

.listUl {
    list-style: none;
}

.listUl>li {
    width: 90vw;
    height: 5vh;
    border: 1px solid #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    display: flex;
}

#one {
    flex: 1;
}

#two {
    flex:2;
}

#three {
    flex: 2;
}

#four {
    flex:6;
}








#foot {
    grid-area: ft;
    background-color: dimgrey;
}